<div class="wrap">
    <h1>Settings</h1>
    <div class="card">
        <form method="post">
            <input type="hidden" name="dnolbon_currencies_wp_action" value="settings"/>
            <table class="form-table">
                <tr>
                    <th scope="row"><label for="bank">Source</label></th>
                    <td>
                        <select name="bank" id="bank">
                            <option value="">---</option>
                            {% for bank in list %}
                            <option value="{{ bank.code|e }}" {% if current== bank.code %} selected{% endif %}>{{
                                bank.name|e }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Miss bank? Plese feel free to contact us <a href="https://dnolbon.com/contacts">Contact</a>
                    </td>
                </tr>
            </table>
            <p class="submit">
                <input type="submit" class="button button-primary" value="Save Changes">
            </p>
        </form>
    </div>

    {% if woocommerceActive %}
    <div class="card">
        <form method="post">
            <input type="hidden" name="dnolbon_currencies_wp_action" value="settings_woocommerce"/>
            <table class="form-table">
                <tr>
                    <th scope="row"><label for="show_in_woocommerce">Show currency column in woocommerce</label></th>
                    <td>
                        <input id="show_in_woocommerce" value="1" name="show_in_woocommerce" type="checkbox"{% if showInWooCommerce %} checked{% endif %}>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="woocommerce_currency">Show product price in</label></th>
                    <td>
                        <select name="woocommerce_currency" id="woocommerce_currency">
                            <option value="">---</option>
                            {% for currency in currencies %}
                            <option value="{{ currency.currency|e }}"{% if currency.currency == wooCommerceCurrency %} selected{% endif %}>{{ currency.currency|e }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <p class="submit">
                <input type="submit" class="button button-primary" value="Save Changes">
            </p>
        </form>
    </div>
    {% endif %}
</div>
